html {
  box-sizing: border-box;
  font-family: sans-serif;
}

* {
  margin: 0;
  box-sizing: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
}

.logo {
  margin: 1rem;
  width: 150px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 120%;
}

#hamburger {
  margin: 1rem;
  padding: .25rem;
  height: 2.5rem;
}

#hamburger img {
  width: 100%;
}

#dropdown {
  display: none;
}

.open {
  flex-wrap: wrap;
}

.open #dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: darkgray;
  padding: 0 1rem;
}

.open #dropdown a {
  display: block;
  padding: .75rem 0;
}

@media (min-width: 768px) {
  
  #hamburger {
    display: none;
  }
  
  .open #dropdown,
  #dropdown {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    padding-right: 1rem;
  }
  
}
